* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  overflow-y: hidden;
}

body {
  background-image: url('../Asset/Image/Background00.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "inter", sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

/* Navbar */
.navbar {
  background-color: var(--Text4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  color: white;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-weight: bold;
  font-family: 'Orbiga';
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-left .profile-icon img {
  height: 40px;
  width: 40px;
}

.profile-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 28px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  gap: 10px;
}

.profile-icon p {
  font-size: 28px;
  padding-top: 8px;
  margin: 0;
  color: white;
}

.navbar-right .unselected {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-weight: 500;
  transition: 0.3s;
}

.navbar-right .unselected:hover {
  color: #B7E4C7;
}

.selected {
  background-color: white;
  color: #1A4D2E;
  border-radius: 20px;
  text-decoration: none;
  margin-left: 25px;
  font-weight: 500;
  padding: 12px 20px;
  cursor: default;
}

/*Data Warga*/
.main-content {
  display: flex;
  gap: 40px;
  padding: 20px 40px;
}

.h2 {
  font-size: 30px;
  font-weight: 700;
  width: auto;
  padding: 10px 40px;
}

.data-warga h2 {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  width: 60%;
  padding: 10px 15px;
  border-radius: 8px;
  border: 2px solid var(--Text1);
  outline: none;
  background-color: #fff;
  font-size: 14px;
}

.add-btn {
  background-color: var(--Text4);
  color: var(--Text2);
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
}

.add-btn:hover {
  scale: 1.1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #11311e;
}

.tabel-warga {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0, 1);
  border-radius: 15px;
  overflow: hidden;
}

.tabel-warga th {
  padding: 12px;
  text-align: left;
  color: var(--Text2);
  font-weight: bolder;
}

.tabel-warga td {
  padding: 12px;
  text-align: left;
  color: #fff;
}

.aksi-btn {
  justify-content: space-between;
  align-items: center
}

.tabel-warga thead {
  background-color: rgba(255, 255, 255, 0.2);
}

.tabel-warga tbody tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.tabel-warga tbody tr:hover {
  background-color: rgba(255, 255, 255, 0, 15);
}

.edit-btn,
.delete-btn {
  background-color: #F5EFE6;
  color: #1A4D2E;
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  margin-right: 5px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bolder;
}

.edit-btn:hover {
  background-color: #ff9500;
  color: var(--Text1);
}

.delete-btn:hover {
  background-color: red;
  color: var(--Text2);
}

/* --- Popup Tambah Data --- */
.popup-form {
  display: none;
  position: fixed;
  z-index: 9999;
  /* make it on top */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  /* overlay blur */
}

.popup-form .form-content {
  z-index: 10000;
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  width: 430px;
}

.form-content h2 {
  color: var(--Text4);
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.close-btn {
  position: absolute;
  font-size: 24px;
  cursor: pointer;
  color: var(--Text4);
}

.Form {
  display: flex;
  flex-direction: column;
}

.form-content input {
  width: 350px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.save-btn {
  background-color: var(--Text4);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
}

.tombolhapus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.save-btn:hover {
  background-color: var(--Text3);
}

@keyframes SlideDown {
  from {
    transform: translateY(-30px)
  }

  to {
    transform: translateY(0)
  }
}