* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Orbiga";
    user-select: none;
}

html {
    overflow-y: hidden;
    overflow-x: hidden;
}



.hero {
    background: url('/Asset/Image/Background02.png') no-repeat center center/cover;
    height: 780px;
    width: 100%;
    justify-items: center;
}

.logo {
    height: 100px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    font-size: 90px;
}

/*Styles for Form Box*/
.Form {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 380px;
    width: 450px;
    border-radius: 10px;
    background: var(--Text2);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

/*Styles for Login Title*/
.title {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    font-family: arial;
    color: var(--Text4);
    margin: 25px;
}

/*Styles for Input Types(Username, Password)*/
.Username input,
.Password input {
    background: white;
    margin-left: 34px;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 380px;
    height: 45px;
    border: none;
    transition: all .2s ease;
    font-weight: bold;
    display: block;
    border: 1px solid #ccc;
    transition: all .3s ease;
    padding: 0 15px;
    font-size: 22px;
}
.Username input:focus,
.Password input:focus {
    outline: none;
    box-shadow: 0 2px 0 var(--Text4);
    font-weight: bold;
}
.Username,
.Password{
    position: relative;
    margin-bottom: 20px;
}
.Username label,
.Password label{
    position: absolute;
    cursor: text;
    z-index: 2;
    top: 13px;
    left: 39px;
    font-size: 15px;
    font-weight: bold;
    padding: 0 10px;
    color: #999;
    transition: all .3s ease;
}
.Username input:focus + label,
.Password input:focus + label,
.Username input:valid + label,
.Password input:valid + label{
    font-size: 15px;
    top: -20px;
    color: var(--Text4);
}
.Username input:focus + label,
.Password input:focus + label{
    color: var(--Text4);
}

/*Styles for Forget Password*/
.Reset {
    font-family: arial;
    font-size: 14px;
    width: 130px;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 290px;
    color: var(--Text4);
}
.Reset:hover {
    text-decoration: underline;
}

/*Styles for Login Button*/
.Login {
    height: 45px;
    width: 380px;
    margin-left: 34px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bolder;
    border: none;
    background-color: var(--Text4);
    font-family: arial;
    color: white;
}
.Login:hover {
    opacity: 0.8;
}
.Login:active {
    opacity: 0.5;
}

p {
    cursor: default;

}