.transition1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: var(--Text2);
    opacity: 0;
    pointer-events: none;
    transition: .5s ease-out;
}

.transition1.is-active {
    opacity: 1;
    pointer-events: all;
}